<div class="management-container">
    <div class="header-actions">
        <h2>Mes Trajets</h2>
        <button routerLink="/partenaire/add-trip" class="btn-add">+ Ajouter un trajet</button>
    </div>

    <div class="table-wrapper">
        <table *ngIf="myTrips.length > 0; else empty">
            <thead>
                <tr>
                    <th>Véhicule</th>
                    <th>Départ ➔ Arrivée</th>
                    <th>Date & Heure</th>
                    <th>Prix</th>
                    <th>Places</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trip of myTrips">
                    <td class="col-vehicle">
                    <div class="vehicle-thumb">
                        <img *ngIf="trip.vehicleImageUrl; else noPhoto" [src]="IMAGE_BASE_URL + trip.vehicleImageUrl" alt="Bus">
                    
                        <ng-template #noPhoto>
                            <span class="default-icon">🚌</span>
                        </ng-template>
                    </div>
                    </td>

                    <td>
                        <strong>{{ trip.departureCity }}</strong> ➔ {{ trip.arrivalCity }}
                        <div *ngIf="trip.moreInfo" class="stops-info">
                            <small>📍 Via : {{ trip.moreInfo }}</small>
                        </div>
                    </td>

                    <td>{{ trip.departureDateTime | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ trip.price | number }} FCFA</td>
                    <td>{{ trip.availableSeats }}</td>
                    <td>
                        <button class="btn-icon">✏️</button>
                        <button class="btn-icon delete" (click)="onDelete(trip.id)">
                            🗑️
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #empty>
            <div class="empty-state">
                <p>Vous n'avez pas encore de trajets enregistrés.</p>
            </div>
        </ng-template>
    </div>
</div>