/* Tes variables de couleurs */
$mobili-yellow: #FFCC00;
$mobili-blue: #092990;

.header {
    background-color: $mobili-yellow;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .logo {
        font-size: 2rem;
        font-weight: 900;
        color: $mobili-blue;
        letter-spacing: -1px;
    }

    .btn-account {
        color: $mobili-blue;
        font-weight: bold;
        background: none;
        border: 2px solid $mobili-blue; // Légèrement plus épais pour plus de visibilité
        padding: 8px 18px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $mobili-blue;
            color: white;
        }
    }
}

.hero-section {
    text-align: center;
    padding: 60px 20px;

    h2 {
        font-size: 2.5rem;
        color: $mobili-blue;
        margin-bottom: 10px;
        font-weight: 800;
    }

    p {
        color: #555;
        font-size: 1.1rem;
    }
}

.search-container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border: 5px solid $mobili-yellow;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;

    input {
        flex: 1;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 12px;
        font-size: 1rem;
        outline: none;
        color: $mobili-blue;

        &:focus {
            border-color: $mobili-blue;
            box-shadow: 0 0 0 2px rgba(9, 41, 144, 0.1);
        }
    }

    .btn-search {
        background-color: $mobili-blue;
        color: white;
        border: none;
        padding: 15px 30px;
        border-radius: 12px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 0.2s, background-color 0.2s;

        &:hover {
            transform: scale(1.05);
            background-color: darken($mobili-blue, 10%);
        }
    }
}