@use "sass:color";

$mobili-yellow: #FFCC00;
$mobili-blue: #092990;

.header {
    background-color: $mobili-yellow;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 70px; // On fixe une hauteur pour garantir l'alignement vertical

    .logo {
        text-decoration: none;
        color: $mobili-blue;
        font-weight: 900;
        font-size: 1.5rem;
        letter-spacing: -1px;
    }

    .nav-container {
        display: flex;
        align-items: center; // Aligne tout parfaitement sur la ligne
        gap: 10px;

        // Style COMMUN pour tous les éléments cliquables du nav
        .btn-link,
        .btn-account {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px; // Même hauteur pour tout le monde
            padding: 0 15px;
            font-size: 0.85rem;
            font-weight: bold;
            border-radius: 8px;
            text-decoration: none;
            transition: all 0.2s ease;
            cursor: pointer;
            white-space: nowrap; // Évite les retours à la ligne
        }

        

        // Bouton "Devenir Partenaire"
        .btn-link{
            color: $mobili-blue;
            border: 2px solid $mobili-blue;
            background: transparent;

            &:hover {
                background-color: $mobili-blue;
                color: white;
            }
        }

        // Bouton "Mon Compte"
        .btn-account {
            background-color: $mobili-blue;
            color: white;
            border: none;

            &:hover {
                background-color: color.adjust($mobili-blue, $lightness: -10%);
            }
        }
    }
}

/* --- ADAPTATION DESKTOP (Tablettes et PC) --- */
@media (min-width: 768px) {
    .header {
        padding: 0 50px;
        height: 85px;

        .logo {
            font-size: 2.2rem;
        }

        .nav-container {
            gap: 20px;

            
            .btn-link,
            .btn-account {
                font-size: 0.95rem;
                padding: 0 20px;
                height: 45px;
            }
        }
    }
}