@import 'app/styles/variables';

// Reset de base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
    background-color: $gray-light;
    color: $text-dark;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}