/* Un bleu plus clair et dynamique */
$mobili-yellow: #FFCC00;
$mobili-blue: #092990;
/* On passe de #003366 à #0066CC */
$white: #ffffff;

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: $white;
    color: $mobili-blue;
}