<div class="registration-container">
    <button routerLink="/trips" class="btn-back">
        ← Retour aux trajets
    </button>

    <h2>Inscrire une Compagnie</h2>

    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="mobili-form">
        <div class="form-grid">
            <div class="input-group">
                <label>Nom de la société</label>
                <input formControlName="name" placeholder="Ex: Sitarail">
                <small class="error" *ngIf="companyForm.get('name')?.invalid && companyForm.get('name')?.touched">
                    Le nom est obligatoire.
                </small>
            </div>

            <div class="input-group">
                <label>Pays</label>
                <input formControlName="country" placeholder="Ex: Sénégal">
            </div>

            <div class="input-group">
                <label>Téléphone</label>
                <input formControlName="phone" placeholder="+221 ...">
            </div>

            <div class="input-group">
                <label>N° de Registre (Business Number)</label>
                <input formControlName="businessNumber" placeholder="RC-XXXX-2026">
            </div>

        <div class="input-group full-width">
            <label>Logo de la compagnie</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input">
        
            <div class="preview" *ngIf="logoPreview">
                <img [src]="logoPreview" alt="Aperçu du logo">
            </div>
        </div>
        </div>

        <button type="submit" [disabled]="companyForm.invalid" class="btn-submit">
            VALIDER L'INSCRIPTION
        </button>
    </form>
</div>